.new {
    width: 80%;
    display: flex;  
}

.newContainer {
    flex: 6;
}

.top, .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
}

h1 {
    color: lightgray;
    font-size: 20px;
    font-weight: bold;
}

.left {
    flex: 1;
    text-align: center;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 150px;
}

.right {
    flex: 2;
}

.newform{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.formInput {
    width: 40%;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;

}
.Imglabel{
    margin-top: 20px;
}
.icon {
    cursor: pointer;
}

input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
}

.newbutton {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: rgb(65, 128, 223);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled{
    background-color: rgb(64, 115, 150);
}

@media screen and (max-width: 500px) {
    .img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 50px;
    }
}