.styled-table{
    border-collapse: collapse;
    margin: auto;
    border: 0.5px solid black;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 0 20 rgba(0, 0, 0, 0.15);
    height: 20px;
    text-align: center;
}
img{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.styled-table thead tr{
    background-color: #47acdbde;
    color: white;

}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #8dd7fade;
}

.btn {
    border:none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}


.btn-edit{
    margin-left: 25px;
    background-color: rgb(180, 175, 97);
}

.btn-delete{
    background-color: red;
}

.btn-view{
    background-color: #9ed9db;
    color: black;
   
    margin-right: -70px;
}

@media screen and (max-width: 500px) {
    .styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 500px;
    box-shadow: 0 0 20 rgba(0, 0, 0, 0.15);
    }
    .btn-edit{
        margin-left: 0;
    }
    .btn{
        margin-left: 0;
    }
    .btn-view{
        margin-right: 0;
    }
}