.home {
    flex: 4;
    background-color: white;
}

.homeWidgets{
    display: flex;
    margin: 20px;
    margin-top: -40px;
}

.widgets{
      display: flex;
      padding: 20px;
      gap: 20px;
    }